html, body {
  margin: 0;
  width: 100%;
  font-family: 'Lora', sans-serif;
  background: #F5F7FA;
}

#start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-btn {
    padding: 12px 24px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 12px;
    background: #006400;
    color: #FAEBD7;
    cursor: pointer;
    transition: 0.3s;
}
#start-btn:hover {
    transform: scale(1.05);
}
.layout {
  display: none;
  min-height: 100vh;
}

.sidebar {
    width: 320px;
    background: #FFEBCD;
    color: #191970;
    padding: 20px;
    border-right: 3px solid #191970;
    box-sizing: border-box;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-btn {
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    padding: 12px 24px;

    background: #FFDEAD;
    color: #191970;
    border: 2px solid;
    border-radius: 12px;

    cursor: pointer;
    transform: perspective(600px);
    transition: transform 0.3s, background 0.3s, border 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.section-btn:hover {
  background: #FFF8DC;	
  transform: perspective(600px) rotateX(15deg);
  border-color: #191970	;
}

.content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.content h1{
    text-align: center;
}
.page {
  display: none;
}
.page h1 {
    color:#1F2933;
}
.page.active {
  display: block;
}
#intro h1 {
    color:#1F2933;
}
.questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 40px auto;
}
.question-card {
    background: #FFFFFF;
    padding: 18px 22px;
    border-radius: 14px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    transition: 0.3s;
    color: #1F2933;
    border: 2px solid;
}
.question-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.progress-bar {
    width: 100%;
    height: 10px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
}
.progress {
    height: 100%;
    width: 10px;
    background: #006400;
    transition: width 0.4s ease;
}
.page-number {
  margin-top: auto;
  align-self: flex-end;
  font-size: 20px;
  display: none;
}

.group-title {
  font-size: 28px;
  margin-bottom: 25px;
  color:#1F2933;
  text-align: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
}

.card {
  background: #FFFFFF;
  padding: 25px;
  border-radius: 16px;
  border: 2px solid;
  max-width: 400px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.verb-title {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.rule-text {
  font-size: 18px;
  line-height: 1.6;
  column-count: 2;
  column-gap: 30px;
}

.exceptions {
  font-size: 22px;
  margin: 25px 0;
  color: #DC143C;
  text-align: center;
}
.training {
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    color:#1F2933;
}
.card2 {
  background: #FFFFFF;
  padding: 25px;
  border-radius: 16px;
  border: 2px solid;
  max-width: 400px;
  transition: 0.3s;
}
.card2:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
.card3 {
  background:#FFFFFF;
  padding: 25px;
  border-radius: 16px;
  border: 2px solid #1F2933;
  max-width: 400px;
  transition: 0.3s;
  color: #1F2933;
}
.card3:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
.theory {
    font-size: 18px;
    color: #1F2933
}
.exercise {
    background: #F7F4EF;
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 40px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
    max-width: 600px;
}
.exercise p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #2E2E2E;
}
.exercise input,
.exercise select {
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    font-family: 'Lora', sans-serif;
}

.exercise button {
    padding: 10px 20px;
    background: #2E8B57;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Lora', sans-serif;
}
.exercise button:hover {
    background: #006400;
}
.exercise p[id$="result"] {
    margin-top: 10px;
    font-weight: bold;
}
.ending-task {
    font-size: 18px;
    margin-bottom: 12px;
}
.ending-task select {
    margin-left: 8px;
    width: 70px;
    padding: 6px;
    font-size: 16px;
    border-radius: 6px;
}
.groups {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.drop-zone {
    flex: 1;
    padding: 30px;
    border: 2px dashed #C97B63;
    border-radius: 14px;
    text-align: center;
    min-height: 100px;
    background: #fff;
}
.verb {
    padding: 12px 18px;
    background: #EDE7DD;
    border-radius: 12px;
    cursor: grab;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    width: 70px;
}
.verbs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
#reset-ex1 {
    background: #DC143C;
}
#reset-ex1:hover {
    background: #8B0000;
}
#reset-ex2 {
    background: #DC143C;
}
#reset-ex2:hover {
    background: #8B0000;
}
#reset-ex3 {
    background: #DC143C;
}
#reset-ex3:hover {
    background: #8B0000;
}
.card ol {
    font-size: 18px;
}
#final-btn {
    padding: 12px 24px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 12px;
    background: #FF4500;
    color: #FAEBD7;
    cursor: pointer;
    transition: 0.3s;
    width: 120px;
}
#final-btn:hover {
    transform: scale(1.05);
}
.finish-wrapper {
    margin-top: 20px;
    align-self: center;
    display: none;
}
#fifth.active ~ .finish-wrapper {
    display: block;
}
#final-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lora', sans-serif;
  background: #FFDAB9;
}
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #191970;
    }

    .content {
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .section-btn {
        font-size: 14px;
        padding: 10px 14px;
    }
}
@media (max-width: 768px) {
    .verbs {
        grid-template-columns: repeat(2, 1fr);
    }
    .groups {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 26px;
    }
    .card {
        padding: 18px;
    }
}